@charset "utf-8";

.keyword{
    font-size:3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    text-align: center;
    height:60px;
    padding-top:45px;
}

.columns{
    column-width: 270px;
    column-gap: 0px;
    text-align: center;
}

.columns figure{
    display: inline-block;
    /* border:1px solid rgba(0,0,0,0.2); */
    margin:0;
    margin-bottom: 15px;
    padding:1px;
}

.columns figure img{
    min-width:270px;
    height:auto;
    border-radius: 20px;
}